<dir class="container mx-auto col-8 " style="margin-top: 100px;">
  <p style="text-align: center;">
    <strong>本当に退会しますか？</strong>
  </p>

  <p style="text-align: center;">
    退会すると、会員登録情報や</br>
    これまでの購入履歴が閲覧できなくなります。</br>
    退会する場合は、「退会する」をクリックしてください。</br>
  </p>
  <dir class="row justify-content-center p-0">
    <dir class="p-0">
      <%= link_to "退会しない", '/customer',class: "btn btn-primary",style: 'width: 200px; margin-right: 50px;' %>
      <%= link_to "退会する", '/customer/withdrawal',method: :patch, class: "btn btn-danger",style: 'width: 200px;' %>
    </dir>

  </dir>
</dir>