<div class="container py-5">
  <div class="card" style="max-width: 900px;">
    <img class="card-img">
      <%= image_tag "24234001_s", size: "900x600" %>
    <div class="d-flex align-items-center justify-content-center card-img-overlay" style="text-align: center; height:600px;">
      <p class="p-3 mb-2 bg-light text-dark" style="font-size:23px;">
        ようこそ、ながのCAKEへ！</br>
        このサイトは、ケーキ販売のECサイトになります。</br>
        会員でない方も商品の閲覧はできますが、</br>
        購入には会員登録が必要になります。
      </p>
    </div>
  <div>


    <h1 class="row mt-5 font-weight-bold">新着商品</h1>

    <div class="col-3">

    </div>
  </div>
  </div>
</div>

</div>